/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 6 déc. 2017, 14:59:06
    Author     : Mila
*/

body{
    margin-top: 10vh;
    background: url('bg.jpg') repeat;
}
span.error{
    color: red;
}